@page "/"
@inject HttpClient Http
@using Shared.Models
@using ViewModels
@using FormModels 
@inject IJSRuntime js


<div @ref="container">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8">
                <h1 id="survey">Ocena wiedzy studentów ETI na temat szczepionek</h1>
                <div class="all-steps" id="all-steps" style="text-align:center;margin-top:40px;">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>
                <div class="tab">
                    <EditForm Model="@rUser" OnValidSubmit="@next">

                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                        <h3>Pytania o historię szczepień:</h3>

                        <h6>Wiek:</h6>
                        <MatRadioGroup @bind-Value="@rUser.Age" TValue="string">
                            <MatRadioButton Class="etap1" Value="@("<18")" TValue="string" Label="Mniej niż 18"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("18-26")" TValue="string" Label="18-26"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("27-35")" TValue="string" Label="27-35"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("36-65")" TValue="string" Label="36-65"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@(">65")" TValue="string" Label="Więcej niż 65"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>Płeć:</h6>
                        <MatRadioGroup @bind-Value="@rUser.Gender" TValue="string">
                            <MatRadioButton Class="etap1" Value="@("M")" TValue="string" Label="Mężczyzna">Mężczyzna</MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("K")" TValue="string" Label="Kobieta">Kobieta</MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("I")" TValue="string" Label="Nie chcę odpowiadać na to pytanie"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>Wykształcenie:</h6>
                        <MatRadioGroup @bind-Value="@rUser.Education" TValue="string">
                            <MatRadioButton Class="etap1" Value="@("podstawowe")" TValue="string" Label="Podstawowe"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("zasadnicze")" TValue="string" Label="Zasadnicze zawodowe"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("srednie")" TValue="string" Label="Średnie"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("wyzsze")" TValue="string" Label="Wyższe"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>Czy jesteś studentem?</h6>
                        <MatRadioGroup @bind-Value="@rUser.Student_eti" TValue="string">
                            <MatRadioButton Class="etap1" Value="@("NS")" TValue="string" Label="Nie studiuję"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("SETI")" TValue="string" Label="Jestem studentem ETI na PG"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("SPG")" TValue="string" Label="Jestem studentem innego wydziału PG"></MatRadioButton>
                            <MatRadioButton Class="etap1" Value="@("SNPG")" TValue="string" Label="Jestem studentem innej uczelni"></MatRadioButton>
                        </MatRadioGroup>
                        <br />
                        <MatButton type="submit">Dalej</MatButton>
                    </EditForm>
                </div>


                <div class="tab">
                    <EditForm Model="@history" OnValidSubmit="@next">

                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />
                        <h3>Pytania o historię szczepień:</h3>

                        <h6>Czy szczepiłeś/aś się na ospę wietrzną?</h6>
                        <MatRadioGroup @bind-Value="@history.Chickenpox" TValue="string">
                            <MatRadioButton Value="@("tak")" TValue="string" Style="float:left; margin-right: 5px" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@("nie")" TValue="string" Style="float:left; margin-right: 5px" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>Czy kiedykolwiek szczepiłeś/aś się na grypę?</h6>
                        <MatRadioGroup @bind-Value="@history.Flu" TValue="string">
                            <MatRadioButton Value="@("tak")" TValue="string" Style="float:left; margin-right: 5px" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@("nie")" TValue="string" Style="float:left; margin-right: 5px" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>Czy szczepiłeś/aś się przeciw HPV?</h6>
                        <MatRadioGroup @bind-Value="@history.HPV" TValue="string">
                            <MatRadioButton Value="@("tak")" TValue="string" Style="float:left; margin-right: 5px" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@("nie")" TValue="string" Style="float:left; margin-right: 5px" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                        <br />
                        <button type="submit">Dalej</button>
                    </EditForm>
                </div>



                <div class="tab">
                    <EditForm Model="@opinion" OnValidSubmit="@next">

                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                        <h3>Pytania o opinię:</h3>

                        <h6>
                            Jaki jest twój stosunek do szczepień obowiązkowych (odra, świnka, różyczka…)?
                            Oceń w skali od 1 (bardzo pozytywny) do 5 (bardzo negatywny)
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.CompulsoryVaccination" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Bardzo pozytywny"></MatRadioButton>
                            <MatRadioButton Value="@("A")" TValue="string" Label="Pozytywny"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="Nie wiem / Obojętny"></MatRadioButton>
                            <MatRadioButton Value="@("D")" TValue="string" Label="Negatywny"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Bardzo negatywny"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>
                            Jaki jest twój stosunek do szczepień nieobowiązkowych (grypa, ospa, ...)?
                            Oceń w skali od 1 (bardzo negatywny) do 5 (bardzo pozytywny)
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.OptionalVaccination" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Bardzo pozytywny"></MatRadioButton>
                            <MatRadioButton Value="@("A")" TValue="string" Label="Pozytywny"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="Nie wiem / Obojętny"></MatRadioButton>
                            <MatRadioButton Value="@("D")" TValue="string" Label="Negatywny"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Bardzo negatywny"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>
                            Czy planujesz zaszczepić się na COVID-19?
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.CovidVaccination" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Tak / Już się zaszczepiłem/am"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Nie"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="NIe jestem pewny/a"></MatRadioButton>
                        </MatRadioGroup>


                        <h6>
                            Czy martwisz się o bezpieczeństwo i skuteczność szczepionki COVID-19?
                            Oceń w skali od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.CovidVacSafety" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Zdecydowanie się zgadzam"></MatRadioButton>
                            <MatRadioButton Value="@("A")" TValue="string" Label="Zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="Nie wiem / Obojętny"></MatRadioButton>
                            <MatRadioButton Value="@("D")" TValue="string" Label="Nie zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Zdecydowanie się nie zgadzam"></MatRadioButton>
                        </MatRadioGroup>

                        <h6>
                            Lepiej jest uzyskać odporność poprzez zachorowanie niż szczepienie.
                            Odpowiedź w skali  od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.DiseaseOrVaccine" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Zdecydowanie się zgadzam"></MatRadioButton>
                            <MatRadioButton Value="@("A")" TValue="string" Label="Zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="Nie wiem / Obojętny"></MatRadioButton>
                            <MatRadioButton Value="@("D")" TValue="string" Label="Nie zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Zdecydowanie się nie zgadzam"></MatRadioButton>
                        </MatRadioGroup>


                        <h6>
                            Ufam informacjom, które otrzymuję na temat szczepionek.
                            Odpowiedź w skali  od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
                        </h6>
                        <MatRadioGroup @bind-Value="@opinion.InformationTrust" TValue="string">
                            <MatRadioButton Value="@("SA")" TValue="string" Label="Zdecydowanie się zgadzam"></MatRadioButton>
                            <MatRadioButton Value="@("A")" TValue="string" Label="Zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("NS")" TValue="string" Label="Nie wiem / Obojętny"></MatRadioButton>
                            <MatRadioButton Value="@("D")" TValue="string" Label="Nie zgadzam się"></MatRadioButton>
                            <MatRadioButton Value="@("SD")" TValue="string" Label="Zdecydowanie się nie zgadzam"></MatRadioButton>
                        </MatRadioGroup>
                        <br />
                        <button type="submit">Dalej</button>
                    </EditForm>
                </div>

                <div class="tab">
                    <EditForm Model="@knowledge" OnValidSubmit="@HandleValidSubmit">

                        <DataAnnotationsValidator />
                        <Microsoft.AspNetCore.Components.Forms.ValidationSummary />

                        <h6>
                            Kto lub co jest Twoim głównym źródłem wiedzy o szczepieniach ochronnych?
                        </h6>

                        <MatRadioGroup @bind-Value="@knowledge.Source" TValue="string">
                            <MatRadioButton Value="@("telewizja")" TValue="string" Label="Telewizja"></MatRadioButton>
                            <MatRadioButton Value="@("internet")" TValue="string" Label="Internet"></MatRadioButton>
                            <MatRadioButton Value="@("szkoła")" TValue="string" Label="Szkoła"></MatRadioButton>
                            <MatRadioButton Value="@("ksiazki")" TValue="string" Label="Książki"></MatRadioButton>
                            <MatRadioButton Value="@("gazety")" TValue="string" Label="Gazety"></MatRadioButton>
                            <MatRadioButton Value="@("zaszczepieni")" TValue="string" Label="Osoby zaszczepione"></MatRadioButton>
                            <MatRadioButton Value="@("rodzina")" TValue="string" Label="Rodzina i znajomi"></MatRadioButton>
                            <MatRadioButton Value="@("lekarze")" TValue="string" Label="Lekarze i pielęgniarki"></MatRadioButton>
                            <MatRadioButton Value="@("brak")" TValue="string" Label="Nie szukam informacji o szczepieniach"></MatRadioButton>
                        </MatRadioGroup>
                        <br />
                        <button type="submit">Dalej</button>
                    </EditForm>
                </div>

                <div class="tab">
                    <h2>Test wiedzy:</h2>
                    <p>
                        <label>
                            Test wiedzy:
                        </label>
                    </p>
                    <div>
                        <p>
                            <br />
                            <label>
                                Czym różnią się szczepienia obowiązkowe od zalecanych?
                            </label>
                            <MatRadioGroup @bind-Value="@Val1" TValue="int">
                                <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia obowiązkowe obejmują kwalifikację do szczepienia, natomiast zalecanych to nie dotyczy.</MatRadioButton>
                                <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia obowiązkowe są ważne, a zalecane mniej ważne.</MatRadioButton>
                                <MatRadioButton Value="@(1)" TValue="int" Class="styl">Szczepienia obowiązkowe są bezpłatne</MatRadioButton>
                                <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia obowiązkowe dotyczą dzieci, a zalecane – dorosłych</MatRadioButton>
                            </MatRadioGroup>
                        </p>
                    </div>

                    <p>
                        <label>
                            Do szczepień obowiązkowych należą:
                        </label>
                        <MatRadioGroup @bind-Value="@Val2" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia niemowląt przeciw meningokokom grupy B i rotawirusom.</MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Class="styl">Szczepienia dzieci przeciw odrze, śwince i różyczce.</MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia przypominające dorosłych przeciw błonicy, tężcowi i krztuścowi.</MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia przeciw wirusowemu zapaleniu wątroby typu B dzieci, młodzieży i dorosłych.</MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Szczepienia poekspozycyjne są to szczepienia wykonywane po narażeniu na czynnik zakaźny,
                            (np. po bezpośrednim kontakcie z osobą, która zaraża).
                            Do obowiązkowych szczepień poekspozycyjnych należą:
                        </label>
                        <MatRadioGroup @bind-Value="@Val3" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Tylko szczepienia przeciw tężcowi i wściekliźnie.</MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Szczepienia przeciw odrze i ospie wietrznej.</MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Class="styl">Szczepienia przeciw błonicy, tężcowi i wściekliźnie.</MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Class="styl">Tylko szczepienia przeciw wściekliźnie.</MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Pierwsza opracowana szczepionka była przeciwko ospie prawdziwej:
                        </label>
                        <MatRadioGroup @bind-Value="@Val4" TValue="int">
                            <MatRadioButton Value="@(1)" TValue="int" Label="Prawda"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Fałsz"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Chorobą, która została całkowicie wyeliminowana z powierzchni ziemi dzięki szczepieniom jest:
                        </label>
                        <MatRadioGroup @bind-Value="@Val5" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="dur brzuszny"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="ospa prawdziwa"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="poliomyelitis"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="dżuma"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Które z poniższych NIE jest chorobą, której można zapobiec dzięki szczepieniu?
                        </label>
                        <MatRadioGroup @bind-Value="@Val6" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Rak szyjki macicy"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Odra"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Paraliż dziecięcy"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Astma"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Krztusiec powrócił, ponieważ:
                        </label>
                        <MatRadioGroup @bind-Value="@Val7" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Oryginalna szczepionka nie była skuteczna"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Niewystarczająca liczba rodziców szczepiła swoje dzieci (ruchy antyszczepionkowców)"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Nowy szczep wirusa przybył do Stanów Zjednoczonych z zagranicy w latach siedemdziesiątych XX wieku"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Oryginalna szczepionka została celowo osłabiona"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Która pandemia wybuchła w 1918 roku?  
                        </label>
                        <MatRadioGroup @bind-Value="@Val8" TValue="int">
                            <MatRadioButton Value="@(1)" TValue="int" Label="Grypa hiszpanka"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Ebola"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Dżuma"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Świńska grypa"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Inna nazwa wirusa grypy A/H1N1, który przerodził się w pandemię to:
                        </label>
                        <MatRadioGroup @bind-Value="@Val9" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Ptasia grypa"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Świńska grypa"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Grypa hiszpanka"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Wirus HIV"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Czy wirus dżumy zaliczany jest do broni biologicznej?
                        </label>
                        <MatRadioGroup @bind-Value="@Val10" TValue="int">
                            <MatRadioButton Value="@(1)" TValue="int" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Dorośli potrzebują dawki przypominającej przeciwko tężcowi i błonicy co 10 lat.
                        </label>
                        <MatRadioGroup @bind-Value="@Val11" TValue="int">
                            <MatRadioButton Value="@(1)" TValue="int" Label="Prawda"></MatRadioButton>
                            <MatRadioButton Value="@(0)" TValue="int" Label="Fałsz"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Czy wszystkie 3 dostępne szczepionki na koronawirusa (Pfizer/Moderna/AstraZeneca) to szczepionki mRNA?  
                        </label>
                        <MatRadioGroup @bind-Value="@Val12" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Czy przyjęcie szczepionki na COVID-19 może wywołać zakażenie koronawirusem?
                        </label>
                        <MatRadioGroup @bind-Value="@Val13" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Czy szczepionka wykorzystująca mRNA może wpłynąć na materiał genetyczny człowieka?
                        </label>
                        <MatRadioGroup @bind-Value="@Val14" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                    </p>

                    <p>
                        <label>
                            Czy szczepienia powodują autyzm?
                        </label>
                        <MatRadioGroup @bind-Value="@Val15" TValue="int">
                            <MatRadioButton Value="@(0)" TValue="int" Label="Tak"></MatRadioButton>
                            <MatRadioButton Value="@(1)" TValue="int" Label="Nie"></MatRadioButton>
                        </MatRadioGroup>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<div>
    <p class="alert-info">@message</p>
</div>

@code { 

    private ElementReference container;
    UserModel rUser = new UserModel();
    HistoryModel history = new HistoryModel();
    OpinionModel opinion = new OpinionModel();
    KnowledgeSourceModel knowledge = new KnowledgeSourceModel();

    Wizard wizard = new Wizard();
    protected int Val1;
    protected int Val2;
    protected int Val3;
    protected int Val4;
    protected int Val5;
    protected int Val6;
    protected int Val7;
    protected int Val8;
    protected int Val9;
    protected int Val10;
    protected int Val11;
    protected int Val12;
    protected int Val13;
    protected int Val14;
    protected int Val15;

    private int SaveResult()
    {
        int result = Val1 + Val2 + Val3 + Val4 + Val5 + Val6 + Val7 + Val8 + Val9 + Val10 + Val11 + Val12 + Val13 + Val14 + Val15;
        return result;
    }

    private void SaveData()
    {
        User rUser = new User();
        rUser.Result.Score = SaveResult();
    }

    string message = "";

    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(rUser);
        rUser.Started_at = DateTime.Now;
    }

    void SubmitValidForm()
    {
        Console.WriteLine("Form Submitted Successfully!");
    }


    private async Task prev()
    {
        await js.InvokeVoidAsync("nextPrev", -1, container);
    }

    private async Task next()
    {
        var isValid = editContext.Validate();
        if (isValid)
        {
            await js.InvokeVoidAsync("nextPrev", 1, container);
        }

    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("initializeComponent", container);
        }
    }



    private async Task HandleValidSubmit()
    {
        try
        {
            User user = new User

            {
                Age = rUser.Age,
                Gender = rUser.Gender,
                Student_eti = rUser.Student_eti,
                Education = rUser.Education,
                Started_at = rUser.Started_at,
                Completed_at = DateTime.Now,
                Result = new Result
                {
                    Score = 13
                },
                KnowledgeSource = new KnowledgeSource
                {
                    Source = knowledge.Source
                },
                Opinion = new Opinion
                {
                    CompulsoryVaccination = opinion.CompulsoryVaccination,
                    OptionalVaccination = opinion.OptionalVaccination,
                    CovidVaccination = opinion.CovidVaccination,
                    CovidVacSafety = opinion.CovidVacSafety,
                    DiseaseOrVaccine = opinion.DiseaseOrVaccine,
                    InformationTrust = opinion.InformationTrust
                },
                History = new History
                {
                    Chickenpox = history.Chickenpox,
                    Flu = history.Flu,
                    HPV = history.HPV
                }


            };
            message = "Sending the feedback";
            var response = await Http.PostAsJsonAsync("http://localhost:7071/api/SubmitSurvey", user);
            message = "Feedback stored in the destination";

        }
        catch (Exception ex)
        {
            message = "Failed to store your feedback";
        }
    }

    }