@page "/"
@inject HttpClient Http
@using Shared.Models  

<h1>Hello, world!</h1>

Welcome to your new app.

<EditForm Model="@rUser" OnValidSubmit="@HandleValidSubmit">
    <p>
        <label for="age">Wiek:</label>
        <InputSelect id="age" @bind-Value="rUser.Age">
            <option value="< 18"> &lt; 18 </option>
            <option value="18-26">18-26</option>
            <option value="27-35">27-35</option>
            <option value="36-65">36-65</option>
            <option value=">65">&gt; 65</option>
        </InputSelect>
    </p>
    <p>
        <label for="gender"> Płeć:</label>
        <InputSelect id="gender" @bind-Value="rUser.Gender">
            <option value="M">Mężczyzna</option>
            <option value="K">Kobieta</option>
            <option value="I">Nie chcę odpowiadać na to pytanie</option>
        </InputSelect>
    </p>
    <p>
        <label>
            Czy jesteś studentem?
            <InputSelect @bind-Value="rUser.Student_eti">
                <option value="NS">Nie studiuję</option>
                <option value="SETI">Jestem studentem ETI na PG</option>
                <option value="SPG">Jestem studentem innego wydziału PG</option>
                <option vale="SNPG">Jestem studentem innej uczelni</option>
            </InputSelect>
        </label>
    </p>
    <p>
        <label>
            Wykształcenie:
            <InputSelect @bind-Value="rUser.Education">
                <option value="podstawowe">Podstawowe</option>
                <option value="zasadnicze">Zasadnicze zawodowe</option>
                <option value="srednie">Średnie</option>
                <option value="wyzsze">Wyższe</option>
            </InputSelect>
        </label>
    </p>

    <p>
        <label>
            Pytania o historię szczepień:
        </label>
    </p>

    <button type="submit">Wyślij do bazy danych</button>
</EditForm>

<EditForm Model="@rUser.History" OnValidSubmit="@HandleValidSubmit">
    <p>
        <label>
            Czy szczepiłeś/aś się na ospę wietrzną?
        </label>
        <MatRadioGroup GroupName="ospa" @bind-Value="@AnswerHistory" TValue="string">
            <MatRadioButton Value="@("1")" TValue="string">Tak</MatRadioButton>
            <MatRadioButton Value="@("0")" TValue="string">Nie</MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Czy kiedykolwiek szczepiłeś/aś się na grypę?
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerHistory" TValue="string">
            <MatRadioButton Value="@("1")" TValue="string">Tak</MatRadioButton>
            <MatRadioButton Value="@("0")" TValue="string">Nie</MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Czy szczepiłeś/aś się przeciw HPV?
        </label>
        <MatRadioGroup GroupName="hpv" @bind-Value="@AnswerHistory" TValue="string">
            <MatRadioButton Value="@("1")" TValue="string">Tak</MatRadioButton>
            <MatRadioButton Value="@("0")" TValue="string">Nie</MatRadioButton>
        </MatRadioGroup>
    </p>

</EditForm>

<EditForm Model="@rUser.Opinion" OnValidSubmit="@HandleValidSubmit">
    <p>
        <label>
            Jaki jest twój stosunek do szczepień obowiązkowych (odra, świnka, różyczka…)?
            Oceń w skali od 1 (bardzo pozytywny) do 5 (bardzo negatywny)
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("A")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("D")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string"></MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Jaki jest twój stosunek do szczepień nieobowiązkowych (grypa, ospa, ...)?
            Oceń w skali od 1 (bardzo negatywny) do 5 (bardzo pozytywny)
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("A")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("D")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string"></MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Czy planujesz zaszczepić się na COVID-19?
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string">Tak / Już się zaszczepiłem/am</MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string">Nie</MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string">NIe jestem pewny/a</MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Czy martwisz się o bezpieczeństwo i skuteczność szczepionki COVID-19?
            Oceń w skali od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("A")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("D")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string"></MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Lepiej jest uzyskać odporność poprzez zachorowanie niż szczepienie.
            Odpowiedź w skali  od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("A")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("D")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string"></MatRadioButton>
        </MatRadioGroup>
    </p>

    <p>
        <label>
            Ufam informacjom, które otrzymuję na temat szczepionek.
            Odpowiedź w skali  od 1 (zdecydowanie się zgadzam) do 5 (zdecydowanie się nie zgadzam)
        </label>
        <MatRadioGroup GroupName="grypa" @bind-Value="@AnswerOpinion" TValue="string">
            <MatRadioButton Value="@("SA")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("A")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("NS")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("D")" TValue="string"></MatRadioButton>
            <MatRadioButton Value="@("SD")" TValue="string"></MatRadioButton>
        </MatRadioGroup>
    </p>


</EditForm>


<div>
    <p class="alert-info">@message</p>
</div>

@code {
    protected string AnswerHistory;
    protected string AnswerOpinion;

    private User rUser = new User();
    string message = "";

    protected override void OnInitialized()
    {
        rUser.Started_at = DateTime.Now;
    }



    private async Task HandleValidSubmit()
    {
        try
        {
            rUser.Completed_at = DateTime.Now;
            message = "Sending the feedback";
            var response = await Http.PostAsJsonAsync("/api/AddUser", rUser);
            message = "Feedback stored in the destination";
        }
        catch (Exception ex)
        {
            message = "Failed to store your feedback";
        }
    }
}
